.page {
  height: 100vw;
  width: 100vw;
  /* z-index: 0; */
  background: url(../images/contact_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 101;
  /* transition: top 0.01s ease; */
}

.pageBackground {
  max-height: 100vh;
  position: relative;
  z-index: 1;
  width: 100vh;
  opacity: 0;
}

.backStatue,
.frontStatue {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
}

.backStatue {
  left: -10vw;
  height: 100vh;
  overflow: hidden;
  bottom: -100vh;
  z-index: 1;
  bottom: 0;
  /* transition: all 2s ease; */
}

.frontStatue {
  left: 20vw;
  overflow: hidden;
  height: 80vh;
  bottom: -100vh;
  z-index: 2;
  bottom: 0;
  scale: 1;
  /* transition: all 2s ease; */
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: calc(50% - 10vw) calc(50% + 10vw);
  position: relative;
  z-index: 100;
}

.backStatueMobile {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  /* left: 25%; */
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: bottom;
  overflow: hidden;
  z-index: 1;
  bottom: 0;
  /* transition: all 2s ease; */
}

.content {
  height: 100%;
  margin: auto;
  position: relative;
  /* border: solid red; */
  /* overflow: hidden; */
  /* display: flex; */
  /* align-items: center; */
  z-index: 2;
  overflow: auto;
}
.title {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.23vh;
  color: white;
  /* margin-bottom: 3vh; */
  padding-top: 3vh;
  overflow: visible;
}
@media(max-height: 850px){
  .title{
    font-size: 2.5rem;
  }
}
@media(max-height: 700px){
  .title{
    font-size: 2rem;
  }
}
.profileContainer {
  display: flex;
  flex-direction: column;
  /* border: solid red; */
  width: calc(15vh + 7vw);
  align-items: center;
  margin-block: 0.5vh;
}

.profileImg {
  height: 17vh;
  width: 14vh;
 
  border-radius: 1vh;
  background-color: rgba(212, 212, 212, 0.75);
  overflow: hidden;
}
.profileAsset{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all .5s ease;
}
.profileAsset:hover{
  scale: 1.1;
}
.profileName,
.profileDept {
  word-wrap: break-word;
  font-family: Montserrat;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
}

.profileName {
  color: white;
  font-size: 1.85vh;
  /* height: 4vh; */
  letter-spacing: 0.2vh;
  font-weight: 600;
  margin-top: 0.8vh;
  margin-bottom: 0.2vh;
}
.profileDept {
  color: #e0e0e0;
  letter-spacing: 0.15vh;
  font-size: 1.6vh;
  /* height: 3.95vh; */
  margin-block: 0.2vh;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  width: 100%;
  padding: 0.5vh;
}

.icons img {
  height: 2.2vh;
}

.cardsContainer {
  position: relative;
  width: 45vw;
  height: 100%;
  margin-inline: 1vh;
  /* margin-block: 2vh; */
  background: transparent;
  /* transition: all 0.5s ease-in-out; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contentContainer {
  /* width: 50vw; */
  margin-right: 0;
  /* border: solid black; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content {
  height: 100%;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 920px) {
  /* .cardsContainer1,
.cardsContainer2{
  width: 70vw;
} */

  .row{
    gap: 0 10vw;
  }
  .profileContainer{
     width: calc(10vh + 6vw);
  }
  .profileImg{
    width: 12vh;
    height: 15vh;
  }
  .frontStatue {
    display: none;
  }
  .container {
    overflow: hidden;
  }
  .content {
    width: 100vw;
    left: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    /* transform: translateX(0); */
  }
  .contentContainer {
    padding-right: 0;
  }
  .page {
    height: 100%;
    width: 100vw;
  }

  .content {
    height: auto;
  }
  .backStatue {
    display: none;
    position: fixed;
  }
  .statueFixed {
    position: fixed;
  }
  .backStatueMobile {
    display: block;
  }
  .cardsContainer {
    column-gap: 5vw;
  }
  .profileName {
    font-size: 1rem;
  }
  .profileDept {
    font-size: 0.85rem;
  }

  .content {
    height: 100%;
  }

  .cardsContainer {
    width: 78vw;
  }
}
@media (max-width: 780px) {
  .cardsContainer {
    column-gap: 4vw;
    padding: 0;
    width: 90vw;
  }

  .content {
    height: 100%;
  }
}
@media (max-width: 680px) {
  .cardsContainer {
    column-gap: 1vw;
  }
  .pageBackground {
    display: none;
  }

  .content {
    height: 100%;
  }
}
.cardsSwitchButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  position: absolute;
  right: -38vh;
  top: 45vh;
  height: 5vw;
  width: 90vh;
  right: -41vh;
  z-index: 2;
  /* padding-left: 15vh; */
  transform: rotate(90deg);
}
.organizingBtn,
.cossacBtn {
  /* transform: rotate(90deg); */
  /* height: 14vw; */
  width: fit-content;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  padding-block: 0.4rem;
  transition: all 0.3s ease-out;
}

.cardsContainer1,
.cardsContainer2 {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  justify-content:center;
}
.cardsContainer2{
  padding-top: 5vh;
}


/* .cardsContainer1 {
  padding-top: vh;
} */

@media (max-width: 650px) {
  .cardsContainer1,
  .cardsContainer2 {
    width: 75vw;
  }
  .page {
    height: 100%;
  }
  .content {
    height: 100%;
  }

  .cardsContainer {
    margin-top: 0;
    grid-template-columns: auto auto;
    column-gap: 10vw;
  }
  .profileContainer:nth-child(9) {
    /* grid-column: span 1.5; */
    align-self: center;
    margin: auto;
  }

  .profileName {
    font-size: 0.85rem;
  }
  .profileDept {
    font-size: 0.65rem;
  }

  .cardsSwitchButtons {
    display: flex;
  }
  .cardsSwitchButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 5vh; */
    position: absolute;
    height: 5vw;
    width: 100vw;
    z-index: 2;
    /* padding-left: 15vh; */
    /* transform: rotate(90deg); */
    top: 16vh;
    transform: unset;
    right: unset;
  }
  .organizingBtn,
  .cossacBtn {
    font-size: 1rem;
  }
}
.cardsSwitchButtons2 {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding-top: 1rem;
}
