main {
  height: 80vh;
  width: 100vw;
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.heading {
  text-align: center;
  margin-left: 0.5rem;
  margin-top: -2rem;
  position: absolute;
  z-index: 10;
  width: 100%;
}
.heading h1 {
  color: #eee;
  font-family: "Druk Wide Bold";
  font-size: 9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8.432px;
  z-index: 10;
}
.heroWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 2%;
  justify-content: center;
}
.statueContainer {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 99;
}
.statue {
  height: 75%;
}
.leftLion {
  position: absolute;
  top: 0;
  left: 0;
  width: 55vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 9;
  margin-top: 5rem;
}
.rightLion {
  position: absolute;
  top: 0;
  right: 0;
  width: 55vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 9;
  margin-top: 5rem;
}
.leftLion img {
  height: 75vh;
}
.rightLion img {
  height: 65vh;
}
.countDown {
  position: absolute;
  padding: 1rem;
  left: 2rem;
  bottom: 0rem;
}

.leftSubTitle,
.rightSubTitle {
  position: absolute;
  left: 2rem;
  bottom: 40%;
  height: fit-content;
}

.rightSubTitle {
  /* left: auto; */
  right: 2rem;
}

.leftSubTitle h1,
h2,
.rightSubTitle h1,
h2 {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 400;
  opacity: 0.8500000238418579;
  color: #eee;
  line-height: 1;
  overflow: hidden;
}

.leftSubTitle h1,
.rightSubTitle h1 {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  font-size: 3.8rem;
}

.leftSubTitle h2,
.rightSubTitle h2 {
  /* -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent; */
  font-size: 5.8rem;
}

.rightSubTitle h1,
h2 {
  text-align: right;
}

.rightSubTitle h2 {
  font-size: 3.5rem;
}
.regPage{
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
  background: url(../images/rp_bg.png);
}
.rpIcons{
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: url(../images/rp_bg_icons.png);
  opacity: 0.699999988079071;
  mix-blend-mode: luminosity;
  background-size: cover;
  z-index: 1;
}
.cross{
  cursor: pointer;
  z-index: 999;
  position: relative;
}
.rpHeadingContainer{
  display: flex;
  padding: 1% 3rem;
  justify-content: space-between;
  align-items: center;
}
.rpHeadingContainer h3{
  color: #F5F5F5;
  text-align: center;
  font-family: "Druk Wide Bold";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700; 
  cursor: pointer;
}
.regBox{
  min-height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.regForm{
  position: relative;
  width: 75vw;
  z-index: 1000;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: visible;
}
.regForm label{
  color: #FFF;
  font-family: "Montserrat"; 
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .5rem;
  margin-top: 2rem;
}
.formSingleInput{
  display: flex;
  flex-direction: column;
  width: 45%;
}
.regInput{
  outline: none;
  border: 2px solid #fff;
  border-radius: 2px;
  background: transparent;
  height: 3rem;
  color: #eee;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1rem;
}
.formMultiInput{
  display: flex;
  flex-direction: column;
  width: 45%;
  overflow: visible;
}
.nameLabel,.collegeLabel{
  margin-top: 0 !important;
}
.btnContainer{
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.submitBtn{
  background: transparent;
  outline: none;
  position: relative;
  z-index: 99;
  cursor: pointer;
  width: 12.5rem;
  padding: .5rem 2.5rem;
  border-radius: 20px;
  border: 2.5px solid #F5F5F5;
  color: #F5F5F5;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 700; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitBtn:hover{
  color: #36788A;
  background-color: #F5F5F5;
}
input[type='radio'] {
  background-color: #36788A;
  accent-color: #fff;
}
.yearOfStudy input[type="radio"] {
  display: none;
}
.radioBtns{
  margin-left: -.25rem;
  display: flex;
  align-items: center;
}
.yearOfStudy input[type="radio"] + label {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 2rem;
  margin: 5px;
  cursor: pointer;
  color: #F5F5F5;
  font-size: 1.5rem;
  padding: 2px 1.25rem;
}

.yearOfStudy input[type="radio"]:hover + label {
  background-color: #fff;
  border: 2px solid #fff;
  color: #36788A;
}
.yearOfStudy input[type="radio"]:checked + label {
  background-color: #fff;
  border: 2px solid #fff;
  color: #36788A;
}

@media (max-width: 1480px) {
  .leftLion,
  .rightLion {
    margin-top: 3.5rem;
  }
  .leftLion img {
    height: 70vh;
  }
  .rightLion img {
    height: 60vh;
  }
}
@media (max-width: 1380px) {
  .heading h1 {
    font-size: 7.5rem;
  }
  .leftLion,
  .rightLion {
    margin-top: 2.5rem;
  }
  .leftLion img {
    height: 65vh;
  }
  .rightLion img {
    height: 55vh;
  }
  .leftSubTitle h1,
  .rightSubTitle h1 {
    font-size: 3.5rem;
  }
  .leftSubTitle h2 {
    font-size: 5.5rem;
  }
  .rightSubTitle h2 {
    font-size: 3.2rem;
  }
  .regForm label{ 
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .75rem;
    margin-top: 2rem;
  }
  .rpHeadingContainer img{
    transform: scale(.9);
  }
}
@media (max-width: 1200px) {
  .rpHeadingContainer img{
    transform: scale(.75);
  }
  .rpHeadingContainer h3{
    font-size: 2.5rem;
  }
  .regForm label{
    font-size: 1.25rem;
  }
  .radioBtns{
    overflow: hidden;
  }
}
@media (max-width: 1080px){
  .regBox{
    height: auto;
  }
  .regForm{
    flex-direction: column;
    align-items: center;
  }
  .formMultiInput{
    margin-top: 2rem;
  }
  .formSingleInput, .formMultiInput{
    width: 90%;
  }
  .rpHeadingContainer{
    padding: 1% 1.5rem;
  }
  .rpHeadingContainer img{
    transform: scale(.65);
  }
  .rpHeadingContainer h3{
    font-size: 2rem;
    margin-left: -1.5rem;
  }
  .radioBtns{
    margin-left: 0;
  }
}
@media (max-width: 580px){
  .rpHeadingContainer{
    padding: 1% 1rem;
  }
  .rpHeadingContainer img{
    transform: scale(.5);
  }
  .rpHeadingContainer h3{
    font-size: 1.75rem;
    font-weight: 400;
  }
}
@media (max-width: 500px){
  .formSingleInput, .formMultiInput{
    width: 100%;
  }
  .rpHeadingContainer{
    padding: .5% .5rem;
  }
  .rpHeadingContainer h3{
    font-size: 1.5rem;
  }
  .regForm label{ 
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: .75rem;
    margin-top: 1.5rem;
  }
  .yearOfStudy input[type="radio"] + label {
    font-size: 1rem;
    padding: 2px .75rem;
  }
  .regInput{
    font-size: 1.15rem;
  }
}
@media (max-width: 400px){
  .rpHeadingContainer h3{
    font-size: 1.25rem;
  }
}
@media (max-width: 360px){
  .rpHeadingContainer h3{
    font-size: 1rem;
  }
}