main {
  height: 80vh;
  width: 100vw;
  cursor: none;
  /* overflow: hidden; */
}
.container {
  height: 80vh;
  width: 100%;
  position: relative;
  display: flex;
  /* overflow: hidden; */
}
.regInput span{
  font-size: 1rem;
}
.messLabel span{
  font-weight: 399;
  font-size: 1rem;
}
.landing{
  width: 100vw;
  overflow: hidden;
}

.heading {
  text-align: center;
  /* margin-left: 0.5rem; */
  margin-top: -2rem;
  position: absolute;
  z-index: 10;
  width: 100%;
}
.heading span {
  display: inline-block;
  color: #eee;
  font-family: "Druk Wide Bold";
  font-size: 9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8.432px;
  z-index: 10;
  /* padding-inline: 1rem; */
}

.heading span:first-child {
  margin-left: 1.5%;
}

.heroWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 2%;
  justify-content: center;
}
.statueContainer {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 99;
}
.statue {
  height: 75%;
}

.mobileStatue {
  display: none;
}

.leftLion {
  position: absolute;
  top: 0;
  left: -5vw;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 9;
  margin-top: 5rem;
  overflow: hidden;
}
.rightLion {
  position: absolute;
  top: 0;
  right: -5vw;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 9;
  margin-top: 5rem;
  overflow-x: hidden;
}
.leftLion img {
  overflow: hidden;
  height: 75vh;
  aspect-ratio: 119/135;
  position: absolute;
  right: 0;
}
.rightLion img {
  overflow: hidden;
  height: 65vh;
  aspect-ratio: 197/198;
  position: absolute;
  left: 0;
}


.countDown {
  position: absolute;
  padding-inline: 2rem;
  bottom: 0;
  display: flex;
  justify-content: bottom;
}

/* .countdown{
  margin-top: 0;
  position: absolute;
} */
.statueContainer {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 99;
}
.statue {
  height: 75%;
}

.mobileStatue {
  display: none;
}

.leftLion {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 9;
  margin-top: 1rem;
}
.rightLion {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 9;
  margin-top: 1rem;
  overflow: hidden;
}
.leftLion img {
  height: 75vh;
  aspect-ratio: 119/135;
  right: -5vw;
}
.rightLion img {
  overflow: hidden;
  height: 65vh;
  aspect-ratio: 197/198;
  left: -5vw;
  overflow: hidden;
}
.countDown {
  position: absolute;
  padding-inline: 2rem;
  left: 0;
  bottom: 0rem;
}

.leftSubTitle,
.rightSubTitle {
  position: absolute;
  width: 50%;
  top: 40%;
  height: fit-content;
  padding-inline: 1rem;
}

.leftSubTitle {
  left: 0;
  /* left: 2rem; */
}

.rightSubTitle {
  /* left: auto; */
  right: 0;
  padding-top: 1.2rem;
}

.leftSubTitle h1,
h2,
.rightSubTitle h1,
h2 {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 400;
  opacity: 0.8500000238418579;
  color: #eee;
  line-height: 1;
  overflow: hidden;
  padding-right: 0.1rem;
}

.leftSubTitle h1,
.rightSubTitle h1 {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  font-size: 3.8rem;
}

.leftSubTitle h2,
.rightSubTitle h2 {
  /* -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent; */
  font-size: 5.8rem;
}

.rightSubTitle h1,
.rightSubTitle h2 {
  text-align: right;
}

.rightSubTitle h2 {
  font-size: 3.5rem;
}
.regPage {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
  background: url(../images/rp_bg.png);
}
.rpIcons {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: url(../images/rp_bg_icons.png);
  opacity: 0.699999988079071;
  mix-blend-mode: luminosity;
  background-size: cover;
  z-index: 1;
}
.cross {
  z-index: 999;
  position: relative;
}
.rpHeadingContainer {
  display: flex;
  padding: 1% 3rem;
  justify-content: space-between;
  align-items: center;
}
.rpHeadingContainer img {
  scale: 0.75;
  z-index: 999;
  position: relative;
}
.rpHeadingContainer h3 {
  color: #f5f5f5;
  text-align: center;
  font-family: "Druk Wide Bold";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  transform: translateX(-2rem);
}
.regBox {
  min-height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photoInput{
  position: relative;
  z-index: 99;
  background: transparent;
  outline: none;
  position: relative;
  z-index: 99;
  width: 20rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: 1.415px solid #f5f5f5;
  color: #f5f5f5;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 401;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.regForm {
  position: relative;
  width: 75vw;
  z-index: 1000;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: visible;
}
.regForm label {
  color: #fff;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.formSingleInput {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.regInput {
  outline: none;
  border: 2px solid #fff;
  border-radius: 4px;
  background: transparent;
  height: 2rem;
  color: #eee;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.formMultiInput {
  display: flex;
  flex-direction: column;
  width: 45%;
  overflow: visible;
}
.nameLabel,
.collegeLabel {
  margin-top: 0 !important;
}
.btnContainer {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
}
.btnContainer div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submitBtn {
  background: transparent;
  outline: none;
  position: relative;
  z-index: 99;
  width: 9.5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 12px;
  border: 1.415px solid #f5f5f5;
  color: #f5f5f5;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitBtnMargin {
  margin-right: 1rem;
}
.submitBtn svg{
  margin-right: 1rem;
}
.submitBtn:hover span img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #36788a;
  opacity: 1;
  z-index: -1;
}
.btnContainer p{
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 401;
  line-height: normal;
  margin-top: .5rem;
  position: relative;
  z-index: 99;
}
.btnContainer .preview:hover{
  /* border-bottom: 1px solid #fff; */
  color: rgba(25, 25, 25, 0.8) !important;
}
.submitBtn:hover {
  color: #36788a;
  background-color: #f5f5f5;
}
.submitBtn:hover svg path{
  stroke: #36788a;
}
input[type="radio"] {
  background-color: #36788a;
  accent-color: #fff;
}
.yearOfStudy input[type="radio"] {
  display: none;
}
.radioBtns {
  margin-left: -0.25rem;
  display: flex;
  align-items: center;
  height: 2.8rem;
}
.yearOfStudy input[type="radio"] + label {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 2rem;
  margin: 5px;
  color: #f5f5f5;
  font-size: 1.5rem;
  padding: 2px 1.25rem;
}
.disabledYearOfStudy {
  opacity: 0.5;
  pointer-events: none;
  transition: all 0.2s ease-in;
}

.yearOfStudy input[type="radio"]:hover + label {
  background-color: #fff;
  border: 2px solid #fff;
  color: #36788a;
}
.yearOfStudy input[type="radio"]:checked + label {
  background-color: #fff;
  border: 2px solid #fff;
  color: #36788a;
}

.errorAnimation {
  color: red ;
  animation: wiggle 0.5s ease 1;
}
@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.socials{
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  bottom: 2rem;
  padding: 1rem;
  overflow: visible;
}

.socialsContainer{
  display: flex;
  margin-inline: 1.5rem;
  padding-bottom: 2vh;
  gap: 1rem;
  overflow: visible;
  z-index: 100;
}
.iconContainer{
  overflow: visible;
  z-index: 999999;
  position: relative;

}
.messLabel{
  margin-top: 1rem !important;
  margin-bottom:1rem !important;
}

.iconContainer svg{
  height: 1.75rem;
  position: relative;
  z-index: 99999;
}

.socialIcon{
  transition: all 1s ease-in-out;
  position: relative;
  z-index: 9998;
  transition: all 0.5s ease;
}

.socialIcon:hover{
  transform: scale(1.2);
}


@media (max-width: 1480px) {
  .leftLion,
  .rightLion {
    margin-top: 3.5rem;
    overflow: hidden;

  }
  .leftLion img {
    height: 70vh;
  }
  .rightLion img {
    height: 60vh;
    overflow: hidden;
  }
}
@media (max-width: 1380px) {
  .heading span {
    font-size: 7.5rem;
  }
  .rpHeadingContainer {
    padding: 0% 3%;
  }
  .leftLion,
  .rightLion {
    margin-top: 2.5rem;
  }
  .leftLion img {
    height: 65vh;
  }
  .rightLion img {
    overflow: hidden;
    height: 55vh;
  }
  .leftSubTitle h1,
  .rightSubTitle h1 {
    font-size: 3.5rem;
  }
  .leftSubTitle h2 {
    font-size: 5.5rem;
  }
  .rightSubTitle h2 {
    font-size: 3.2rem;
  }
  .regForm label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    margin-top: 2rem;
  }
  .rpHeadingContainer img {
    transform: scale(0.9);
  }
}
@media (max-width: 1200px) {
  .rpHeadingContainer img {
    transform: scale(0.75);
  }
  .rpHeadingContainer h3 {
    font-size: 2.5rem;
    transform: translateX(0) !important;
  }
  .regForm label {
    font-size: 1.25rem;
  }
  .radioBtns {
    overflow: visible;
  }
  .leftLion img {
    height: 60vh;
  }
  .rightLion img {
    overflow: hidden;
    height: 50vh;
  }
}
@media (max-width: 1080px) {
  .regBox {
    height: auto;
  }
  .regForm {
    flex-direction: column;
    align-items: center;
  }
  .formMultiInput {
    margin-top: 2rem;
  }
  .formSingleInput,
  .formMultiInput {
    width: 90%;
  }
  .rpHeadingContainer {
    padding: 1% 1.5rem;
  }
  .rpHeadingContainer img {
    transform: scale(0.65);
  }
  .rpHeadingContainer h3 {
    font-size: 2rem;
    margin-left: -1.5rem;
  }
  .radioBtns {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .leftLion img {
    height: 52vh;
  }
  .rightLion img {
    height: 45vh;
  }
  .statue {
    height: 70%;
  }
  .rightSubTitle {
    bottom: 40%;
    /* right: 1rem; */
  }
  .leftSubTitle h1,
  .rightSubTitle h1 {
    font-size: 2.5rem;
  }
  .leftSubTitle h2 {
    font-size: 4.5rem;
  }
  .rightSubTitle h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 920px) {
  .container {
    margin-top: 1rem;
  }
  .leftLion img {
    height: 40vh;
  }
  .rightLion img {
    height: 35vh;
  }
  .leftSubTitle h1,
  .rightSubTitle h1 {
    font-size: 2.5rem;
  }
  .leftSubTitle h2 {
    font-size: 4rem;
  }
  .rightSubTitle h2 {
    font-size: 2.5rem;
  }
  .desktopStatue {
    display: none;
  }

  .statue {
    height: 68%;
  }
  .mobileStatue {
    display: block;
  }
  .countDown {
    padding: 0 1rem;
  }
  .heading {
    margin-top: -1rem;
  }
  .submitBtn {
    font-size: 1.1rem;
  }
  .regForm label {
    margin-top: 0.75rem !important;
  }
}

@media (max-width: 820px) {
  .heading {
    margin-top: 8rem;
    /* font-size: 5rem; */
  }
  .statue {
    height: 60%;
  }
  .leftSubTitle,
  .rightSubTitle {
    top: 0;
  }
  .leftSubTitle {
    text-align: right;
  }
  .rightSubTitle h1,
  .rightSubTitle h2 {
    text-align: left;
  }
  .rightSubTitle {
    top: 4rem;
  }
  .leftSubTitle h1,
  .rightSubTitle h1 {
    font-size: 2rem;
  }
  .leftSubTitle h2 {
    font-size: 3rem;
  }
  .rightSubTitle h2 {
    font-size: 2rem;
  }
}

@media (max-width: 711px) {
  .countDown {
    display: none;
  }
  .heading span {
    font-size: 18vw;
  }
  .socialsContainer{
    margin-top: auto;
    margin-left: auto;
    position: absolute;
    right: 0;
    bottom: 0.5rem;
    flex-direction: column;
    scale: 0.8;
    margin-right: 1rem;
  }
}

@media (max-width: 580px) {
  .rpHeadingContainer {
    padding: 1% 1rem;
  }
  .rpHeadingContainer img {
    transform: scale(0.5);
  }
  .rpHeadingContainer h3 {
    font-size: 1.75rem;
    font-weight: 400;
  }
  .leftLion img,
  .rightLion img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .leftSubTitle h1,
  .rightSubTitle h1 {
    font-size: 1.75rem;
  }
  .leftSubTitle h2 {
    font-size: 2.5rem;
  }
  .rightSubTitle h2 {
    font-size: 1.75rem;
  }
}
@media (max-width: 500px) {
  .formSingleInput,
  .formMultiInput {
    width: 100%;
  }
  .formMultiInput{
    margin-top: 0;
  }
  .rpHeadingContainer {
    padding: 0.5% 0.5rem;
  }
  .rpHeadingContainer h3 {
    font-size: 1.5rem;
  }
  .regForm label {
    font-size: 1.25rem;
    font-weight: 401;
    margin-bottom: 0.75rem;
    margin-top: 1.5rem;
  }
  .yearOfStudy input[type="radio"] + label {
    font-size: 1rem;
    padding: 2px 0.75rem;
  }
  .regInput {
    font-size: 1.15rem;
  }
  .regForm{
    width: 85vw;
  }
  .genderLabel{
    margin-bottom: 0 !important;
  }
  .radioBtns{
    height: auto;
  }
}
@media (max-width: 400px) {
  .rpHeadingContainer h3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 360px) {
  .rpHeadingContainer h3 {
    font-size: 1rem;
  }
}
