.page {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background: url(../images/contact_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageBackground {
    max-height: 100vh;
}

.backStatue,
.frontStatue {
    position: absolute;
    object-fit: cover;
    overflow: hidden;
}

.backStatue {
    left: 0;
    height: 100vh;
    overflow: hidden;
    bottom: -100vh;
    z-index: 0;
}

.frontStatue {
    left: 12vw;
    overflow: hidden;
    height: 75vh;
    bottom: -100vh;
    z-index: 10;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 45vw 55vw;
}

.content {
    z-index: 11;
    margin-left: auto;
    height: 100%;
    width: 100%;
    padding-right: 5rem;
    padding-top: 3rem;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15rem;
    padding-bottom: 1rem;
}

.cardsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.profileContainer {
    padding-block: 0.5vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profileImg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border: solid red; */
    aspect-ratio: 8/10;
    height: 10rem;
    width: auto;
    border-radius: 1rem;
    margin: auto;
    margin-block: 0.5vh;
}

.profileName,
.profileDept,
.profilePhone,
.profileEmail {
    color: white;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    padding: 0.2rem;
}

.profileName {
    font-size: 0.9rem;
    letter-spacing: 1.083px;
}

.profileDept,
.profileEmail,
.profilePhone {
    font-size: 0.8rem;
    font-weight: 500;
    color: #E0E0E0;
}

.backStatueMobile {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .frontStatue {
        display: none;
    }

    .backStatue {
        display: none;
    }

    .pageBackground {
        /* position: absolute; */
        bottom: -100vh;
        width: 100%;
        z-index: 1;
        display: flex;

    }

    .backStatueMobile {
        display: block;
        position: absolute;
        left: 30vw;
        margin: auto;
        bottom: -100vh;
        z-index: 1;

    }

    .container {
        display: block;
    }

    .content {
        width: 100vw;
        padding-inline: 5rem;
        z-index: 20;
    }
}
@media (max-width: 580px){
    .content{
        padding: 5rem 1rem;
        position: relative;
    }
    .cardsContainer{
        grid-template-columns: auto auto;
        column-gap: 6rem;
        justify-content: center;
        height: auto;
    }
}
@media (max-width: 480px){
    .cardsContainer{
        column-gap: 3rem;
    }
}