.section {
  width: 100vw;
  height: 100vh;
  background: url(../images/devpage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  --circle-radius: 150%
}
.header {
  top: 2rem;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  position: absolute;
  left: 3rem;
  scale: 1.2;
  z-index: 100;
}
.header h2 {
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.5px;
}
.teams {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.teams > div {
  position: relative;
}
.devTeam {
  scale: 0.85;
  transition: all 0.5s ease;
  z-index: 10;
  position: relative;
}
.devTeam:hover {
  scale: 0.9;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  /* z-index: 20; */
  transform: translateX(-50%) translateY(-50%);
}

.front-clicked > div:nth-child(2) > div{
    transform: translateY(-135%);
}
.front-clicked > div:nth-child(3) > div{
    transform: translateY(-55%) translateX(180%);
}
.front-clicked > div:nth-child(4) > div{
    transform: translateY(105%) translateX(125%);
}
.front-clicked > div:nth-child(5) > div{
    transform: translateY(105%) translateX(-125%);
}
.front-clicked > div:nth-child(6) > div{
    transform: translateY(-55%) translateX(-180%);
}
.cardBack {
  transform: perspective(800px) rotateY(180deg);
}

.cardFront {
  transform: perspective(800px) rotateY(0deg);
}
.cardWrapper {
  scale: 0.20;
  position: relative;
}
.cardStrip {
  height: 100%;
  width: 25%;
  position: absolute;
  top: 2.75rem;
  left: 3rem;
}
.cardStrip > svg {
  position: absolute;
  top: 0;
}
.cardContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5rem;
  z-index: 2;
}
.jersey {
  font-family: "DIN Pro";
  font-size: 6.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 7rem;
}
.hostel {
  text-align: center;
  font-family: "Nollasans";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: normal;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 4rem;
}
.stripDivide {
  margin: 1.5rem 0;
  height: 4px;
  width: 70%;
}
.dept {
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 57.399px */
  text-transform: uppercase;
}
.cardData {
  position: absolute;
  top: 8rem;
  left: 2rem;
  z-index: 10;
}
.name {
  margin-left: -2.5rem;
  margin-top: -2.5rem;
  text-align: center;
  font-family: "Nollasans";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameBar {
  margin-top: 1rem;
  height: 2px;
  width: 70%;
}
.socialIcon path {
  transition: all 0.2s ease;
}
.socialIcon:hover path {
  fill: #f4f4f4;
}
.contentBox {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 0;
  height: 100%;
}
.socials {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-left: -0.5rem;
}
.contentDivider {
  /* transform-origin: left;
  transform: rotate(90deg); */
  height: 10rem;
  width: 3px;
  margin-right: 0.5rem;
  margin-left: -2rem;
}
.desc {
  font-family: "Bebas Neue";
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  width: 60%;
  padding-right: 1rem;
  letter-spacing: 3px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: -1rem;
}
.footDivider {
  height: 3px;
  width: 20%;
}
.teamName {
  margin-top: .75rem;
  text-align: center;
  font-family: "Calibri";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.845px;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
