.slide {
  inset: 0;
  border-radius: 7px;
  height: 55%;
  width: 100%;
  margin-top: 4rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
 lightgray 50% / cover no-repeat;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  position: relative;
  scale: 1;
  transition: scale 0.2s ease-in-out;
}

.slide:hover {
  scale: 1.05;
}


.slideText {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
