.eventsSection{
    position: relative;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: url(../images/event_bg.png);
    background-size: cover;
    background-position: center center;
}
.eventsSection h3{
    color: #F5F5F5;
    text-align: center;
    font-family: "Druk Wide Bold";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.9px;
    padding: 5% 0;
}
.eventsContainer{
    width: 100%;
    height: 50vh;
    padding: 0 10%;
    display: flex;
    gap: 2.5%;
    overflow: visible;
}
.eventsContainer > div{
    height: 100%;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: visible;
}
.eventsContainer > div img{
    width: 100%;
    height: 100%;
}
.leftSport{
    transform: rotate(-5deg) translateY(1rem);
}
.rightSport{
    transform: rotate(5deg) translateY(1rem);
}