.gallery {
    width: 100vw;
    height: 100%;
    position: relative;
    z-index: 9999;
    background-color: #A63237;
    font-family: 'Montserrat';
    /* overflow: hidden; */
}

.title {
    color: #F5F5F5;
    font-family: "Druk Wide Bold";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.18125rem;
}

.heading {
    padding-inline: 5vw;
    padding-block: 10vh;
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dummy{
    width: 2rem;
}

.wrapper {
    margin: auto;
    /* width: fit-content; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: scroll;
    width: 300vw;
    position: fixed;
}

.ghost {
    width: 100vw;
}

.progressLine {
    position: fixed;
    bottom: 10vh;
    left: 5vw;
    height: 2px;
    background: #C8C8C8;
    ;
    transform-origin: 0%;
    width: 90%;
}

.progressBar {
    height: 4px;
    margin-top: -0.1rem;
    background: white;
    transform-origin: 0%;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10 {
    background-color: #d9d9d9;
}

.gridContainer {
    padding-inline: 5vw;
    width: 300vw;
    height: 60vh;
    display: grid;
    grid-template-columns:
        1.7fr, 1.4fr, 1.7fr, 2.3fr, 0.9fr, 1.3fr,
        1.7fr, 1.4fr, 1.7fr, 2.3fr, 0.9fr, 1.3fr,
        1.7fr, 1.4fr, 1.7fr, 2.3fr, 0.9fr, 1.3fr;
    grid-template-rows: 1.4fr 0.9fr 0.6fr 1.5fr;
    gap: 1rem;
}

.box2 {
    grid-area: 1 / 1 / 4 / 2;
}

.box1 {
    grid-area: 4 / 1 / 5 / 3;
}

.box3 {
    grid-area: 1 / 2 / 2 / 3;
}

.box4 {
    grid-area: 2 / 2 / 4 / 3;
}

.box5 {
    grid-area: 1 / 3 / 5 / 4;
}

.box6 {
    grid-area: 1 / 4 / 3 / 6;
}

.box7 {
    grid-area: 1 / 6 / 3 / 7;
}

.box8 {
    grid-area: 3 / 5 / 5 / 7;
}

.box9 {
    grid-area: 3 / 4 / 5 / 5;
}

.box10 {
    grid-area: 1 / 7 / 4 / 8;
}

.box11 {
    grid-area: 4 / 7 / 5 / 9;
}

.box12 {
    grid-area: 2 / 8 / 4 / 9;
}

.box13 {
    grid-area: 1 / 8 / 2 / 9;
}

.box14 {
    grid-area: 1 / 9 / 5 / 10;
}

.box15 {
    grid-area: 3 / 10 / 5 / 11;
}

.box16 {
    grid-area: 1 / 10 / 3 / 12;
}

.box17 {
    grid-area: 3 / 11 / 5 / 13;
}

.box18 {
    grid-area: 1 / 12 / 3 / 13;
}

.box19 {
    grid-area: 4 / 13 / 5 / 15;
}

.box20 {
    grid-area: 1 / 13 / 4 / 14;
}

.box21 {
    grid-area: 2 / 14 / 4 / 15;
}

.box22 {
    grid-area: 1 / 14 / 2 / 15;
}

.box23 {
    grid-area: 1 / 15 / 5 / 16;
}

.box24 {
    grid-area: 3 / 16 / 5 / 17;
}

.box25 {
    grid-area: 1 / 16 / 3 / 18;
}

.box26 {
    grid-area: 3 / 17 / 5 / 19;
}

.box27 {
    grid-area: 1 / 18 / 3 / 19;
}

.aboutHeading {
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: 0.2vw;
    margin-bottom: 1.8vw;
}

.aboutText {
    font-weight: 350;
    font-size: 1.5vw;
    letter-spacing: 0.12vw;
}

.tagline {
    padding: 1.2vw;
    letter-spacing: 0.2vw;
    font-size: 1.5vw;
    font-weight: 500;
    font-family: Montserrat;
    width: 100%;
    text-align: center;
    color: white;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11,
.box12,
.box13,
.box14,
.box15,
.box16,
.box17,
.box18,
.box19,
.box20,
.box21,
.box22,
.box23,
.box24,
.box25,
.box26,
.box27 {
    background-color: transparent;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.image {
    scale: 1.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    transform: all 0.5s ease-out;
}

.arrow {
    height: 2rem;
    width: 2rem;
}



@media only screen and (max-width: 800px) {
    .gridContainer {
        grid-template-columns: 30vw 31.6vw 28.5vw;
        grid-template-rows: 12.25vw 21.25vw 16.25vw 10vw 28.25vw 48vw 46.3vw;
    }

    .box1 {
        /* width: 100%; */
        grid-area: 1 / 1 / 2 / 3;
        background-color: #A63237;
        color: white;
        font-family: Montserrat;
        /* display: grid; */
        /* grid-template-columns: 5vw 80vw; */
        /* align-items: center; */
        /* height: 100%; */
        /* justify-content: space-between; */
        /* gap: 2vw; */
        display: flex;
        padding-bottom: 2vw;
    }

    .box1 p {
        color: white;
        font-family: Montserrat;
        font-size: 7vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.3vw;
        text-align: left;
    }

    .arrow {
        width: 8vw;
    }

    .aboutHeading {
        font-size: 4vw;
        font-weight: 500;
        letter-spacing: 0.3vw;
        margin-bottom: 1vw;
    }

    .aboutText {
        font-weight: 350;
        font-size: 2vw;
        letter-spacing: 0.12vw;
    }

    .tagline {
        padding: 1.5vw;
        letter-spacing: 0.2vw;
        font-size: 1.5vw;
        font-weight: 500;
        font-family: Montserrat;
        width: 100%;
        text-align: center;
        color: white;
    }
}