@font-face {
  font-family: "Druk Wide Bold";
  src: url("../fonts/Druk-Wide-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(../fonts/Montserrat900.ttf);
}
@font-face {
  font-family: "PressStart2p";
  src: local("PressStart2p"), url(../fonts/PressStart2P-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  user-select: none;
  cursor: none;
}
/* :root{
    use variable here
} */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  transition: background-color 999999s ease-in-out 0s;
}
::-webkit-scrollbar {
  display: none;
}
body {
  width: calc(100vw - (100vw - 100%));
}
a{
  text-decoration: none;
}
.layout-section {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
.layout-section:nth-child(2) {
  width: 100vw;
  height: auto;
}
.fixed-bg {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: -2;
  /* background: url(../images/red-bg.png); */
}
.fixed-bg-blue {
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../images/blue-bg.png);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.fixed-bg-red {
  width: 100%;
  height: 100%;
  z-index: -2;
  background: url(../images/red-bg.png);
}
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000000;
  display: none;
  margin-left: -6px;
  width: 16px;
  height: 16px;
  background-color: #eee;
  border-radius: 100%;
  transition: opacity 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  /* mix-blend-mode: difference; */
  pointer-events: none;
}
.cursorFollower {
  opacity: 0;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000001;
  margin-left: -6px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  /* border: 1px solid #eee; */
  transition: transform 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33),
    opacity 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33);
  pointer-events: none;
  transform: scale(1);
  overflow: hidden;
  animation: rotation 17.5s infinite forwards linear;
  transition: 0.7s transform cubic-bezier(0.62, 0.02, 0.34, 1);
  /* mix-blend-mode: hard-light; */
}
.cursorFollower img {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1);
}
.blackScreen {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  background: url(../images/red-bg.png);
  background-size: cover;
  animation: slideUp 2s ease 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blackScreen img {
  scale: 1.5;
  filter: drop-shadow(10px 10px 10px #000);
}

.ham-black-screen-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 25vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.ham-black-screen-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.mobileHamburger {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);

  display: grid;
  place-items: center;
}

.loader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 99999;
}

.loader video{
  width: 50vw;
  height: auto;
  margin: auto;
}

.loader-hide{
  opacity: 0;
}

.closeHam{
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem;
  padding-right: 3.5rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  z-index: 99999999;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media (max-width: 650px) {
  #contact-section {
    min-height: 175vh;
  }
  .blackScreen img{
    scale: 0.75;
  }

  .loader video{
    width: 100vw;
  }
}
@media (max-width: 650px) and (min-height: 770px) {
  #contact-section {
    min-height: 165vh;
  }
  .loader video{
    width: 100vw;
  }
}
@media (max-width: 650px) and (min-height: 890px) {
  #contact-section {
    min-height: 160vh;
  }
  .loader video{
    width: 100vw;
  }
}
