*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{
    /* write variables here */
}
.layout-section{
    width: 100vw;
    height: 100vh;
}
.fixed-bg{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: -1;
}
.fixed-bg-blue{
    width: 100%;
    height: 100%;
    background-color: #36788A;
}
.fixed-bg-red{
    width: 100%;
    height: 100%;
    background-color: #88262A;
}