.hamburger {
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  left: 25vw;
  z-index: -3;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.hamContainer{
  width: 100vw;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}

.container img {
  width: 100%;
  object-fit: cover;
  visibility: hidden;
}

.text {
  position: absolute;
  top: 70%;
  bottom: 10%;
  width: 100%;

  display: flex;
  align-items: center;
  text-align: left;

  padding-inline: 2rem;

  color: #ebebeb;
  font-family: Druk Wide Bold;
  font-size: 200%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  overflow: hidden;
}

.mobileContainer{
  position : absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

.mobileLinks {
  text-transform: uppercase;
  text-align: center;
  color: #ebebeb;
  font-family: Druk Wide Bold;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mobileLinks:hover {
  color: #ebebeb;
  text-decoration: underline;
}

.mobileLinks:active {
  color: #ebebeb;
  text-decoration: underline;
}

.closeHam{
  color: white;
  position: absolute;
  top: 0;
  right: -40px;
  padding: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 99;
}

/* .closeHam img{ */
  /* width: 2rem;
  height: 2rem; */
  /* mix-blend-mode: multiply; */
/* } */
