.section{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.60) 100%), url(../images/ignition_bg.png), lightgray -392.932px 0px / 145.478% 100% no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    margin-top: 2rem;
}
.header h2{
    color: #FFF;
    text-align: center;
    font-family: "Montserrat";
    font-size: 3.5rem;
    font-weight: 900;
}
.gamesContainer{
    width: 100vw;
    height: 90vh;
    display: flex;
    padding: 0 5% 2rem 5%;
    justify-content: space-between;
    gap: 5%;
}
.gameGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    overflow: visible;
}
.game{
    background: url(../images/COD_game.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    transition: all 0.5s ease;
}
.gameGroup p{
    font-family: "PressStart2p";
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.arrowContainer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3.25em;
    height: 3.25em;
    border-radius: 50%;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.arrowContainer img{
    transition: all 0.5s ease;
}

.game:hover > .arrowContainer > img{
    transform: rotate(-45deg);
}
.game:hover {
    scale: 1.1;
}