html{
  overflow: scroll;
}
.section {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(../images/ignition_bg.png),
    lightgray -392.932px 0px / 145.478% 100% no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  margin-top: 2rem;
}
.header h2 {
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 3.5rem;
}
.header h2 span {
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 3.5rem;
}
.gameWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10%; */
  height: 90vh;
  overflow: visible;
}
.backBtn{
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
.nextBtn{
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 2rem;
}
.backBtn img{
  rotate: 180deg;
}
.gamesContainer{
  width: 80vw;
  display: flex;
  overflow-x:scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.gamesContainer::-webkit-scrollbar{
  display: none;
}
.gamesContainer .divContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.gameGroup {
  flex: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  overflow: visible;
}
.game {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  transition: all 0.5s ease;
}
.cod{
  background: url(../images/COD_game.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.cr{
  background: url(../images/cr.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.valo{
  background: url(../images/valorant.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bgmi{
  background: url(../images/bgmi.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fifa{
  background: url(../images/fifa.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.tekken{
  background: url(../images/Tekken.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.gameGroup p {
  font-family: "PressStart2p";
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}
.arrowContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.arrowContainer img {
  transition: all 0.5s ease;
}

.game:hover > .arrowContainer > img {
  transform: rotate(-45deg);
}
.game:hover {
  scale: 1.1;
}
@media (max-width: 1000px) {
  .section {
    min-height: 100vh;
    height: auto;
  }
  .header h2 {
    font-size: 4.5rem;
  }
  .header h2 span {
    display: none;
  }
  .gamesContainer {
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    padding-top: 2rem;
  }
  .gameGroup {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 2rem;
  }
  .secondGameGroup p {
    order: 1;
  }
  .secondGameGroup .game {
    order: 2;
  }
}
@media (max-width: 650px) {
  .gameGroup {
    margin-top: 1rem;
  }
  .header h2 {
    font-size: 2.5rem;
  }
  .gamesContainer {
    gap: 0;
    min-height: 90vh;
    justify-content: space-evenly;
  }
  .gameGroup {
    gap: 1rem;
  }
  .gameGroup p {
    font-size: 1rem;
  }
  .header img {
    scale: 0.75;
  }
}
