@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@1,700&family=Montserrat:wght@100;500&family=Outfit:wght@400;700&family=Work+Sans&display=swap");

.navbarContainer {
  position: relative;
  display: flex;
  margin-top: 1%;
  padding: 3rem;
  overflow: hidden;
  height: 140px;
}
.navbarRight {
  width: 100%;
  padding-left: 1rem;
}
.navbarLeft {
  width: 100%;
}
.navbarRight ul {
  display: flex;
  justify-content: flex-start;
}
.navbarLeft ul {
  display: flex;
  justify-content: flex-end;
}
.navLinks {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: #ffffff;
  padding: 0 3rem 0 0;
  display: none;
}

.navLogo {
  position: absolute;
  /* pointer-events: all; */
  /* cursor: pointer; */
  left: 3%;
  top: 0;
  padding-bottom: 2rem;
  padding-right: 2rem;
  z-index: 999;
}

.navLogo img {
  transform: scale(0.8);
  pointer-events: all;
  filter: drop-shadow(10px 10px 10px #000);
  transition: 0.5s;
}

.navLogo img:hover {
  transform: scale(1);
}

.navbarRightCorner {
  cursor: none;
  position: absolute;

  display: flex;
  align-items: center;
  gap: 1.2rem;
  z-index: 999;
  right: 2%;
  top: 34%;
  width: fit-content;
}

.registerBtn {
  border-radius: 12px;
  border: 1.415px solid #fff;
  padding: 0.5rem 2rem;
}

.registerBtn p {
  color: #fff;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 401;
  line-height: normal;
  letter-spacing: 2px;
}

.registerBtn:hover {
  background-color: #fff;
  /* transition: 0.5s; */
}
.registerBtn:hover p {
  color: #111;
}

.hamburger {
  padding: 5px;
}

.hamburger img {
  transform: scale(0.7);
}

.hamburger:hover img {
  transform: scale(0.8);
}

@media (max-width: 1380px) {
  .navLogo img {
    transform: scale(0.9);
  }
  .navLinks {
    padding-right: 2.5rem;
    font-size: 1.5rem;
  }
  /* .registerBtn {
    top: 27.5%;
    padding: 0.75rem 2rem;
  } */
}
@media (max-width: 1200px) {
  .navLogo img {
    transform: scale(0.7);
  }
  .navLinks {
    padding-right: 2.25rem;
    font-size: 1.4rem;
  }
  /* .registerBtn {
    top: 31.5%;
    padding: 0.5rem 1.75rem;
  } */
  .registerBtn p {
    font-size: 1rem;
  }
}
@media (max-width: 1080px) {
  .navLinks {
    padding-right: 2rem;
    font-size: 1.15rem;
  }
  /* .registerBtn {
    padding: 0.5rem 1.25rem;
  } */
  .registerBtn p {
    font-size: 0.95rem;
  }
}
@media (max-width: 920px) {
  .navLinks {
    display: none;
  }
  .navLogo img {
    transform: scale(0.6);
  }
  .navbarContainer {
    height: 100px;
  }
  .registerBtn p {
    font-size: 0.95rem;
  }
  .navLogo img {
    pointer-events: none;
  }
}

@media (max-width: 711px) {
  .navbarContainer {
    position: static;
  }

  .navbarRightCorner {
    position: static;
    height: fit-content;
    width: fit-content;
  }

  .registerBtn {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 5%;
  }

  .hamburger {
    width: 80px;
  }
}
