@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

.navbarContainer {
  position: relative;
  display: flex;
  margin-top: 1%;
  padding: 3rem;
  overflow: hidden;
  height: 140px;
  z-index: 100;
}

.navbarRight {
  width: 100%;
  padding-left: 1rem;
}

.navbarLeft {
  width: 100%;
}

.navbarRight ul {
  display: flex;
  justify-content: flex-start;
}

.navbarLeft ul {
  display: flex;
  justify-content: flex-end;
}

.navLinks {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: #ffffff;
  padding: 0 3rem 0 0;
  display: none;
}

.navLogo {
  position: absolute;
  /* pointer-events: all; */
  /* cursor: pointer; */
  left: 3%;
  top: 0;
  padding-bottom: 2rem;
  padding-right: 2rem;
  z-index: 999;
}

.navLogo img {
  transform: scale(0.8);
  pointer-events: all;
  filter: drop-shadow(10px 10px 10px #000);
  transition: 0.5s;
}

.navLogo img:hover {
  transform: scale(1);
}

.navbarRightCorner {
  cursor: none;
  position: absolute;

  width: fit-content;
  height: fit-content;

  display: flex;
  align-items: center;
  gap: 1.2rem;
  z-index: 100;
  padding-top: 1.5rem;
  right: 2%;
  top: 0%;
  width: fit-content;
}

.registerBtn,
.registerBtnMobile {
  border-radius: 12px;
  border: 1.415px solid #fff;
  padding: 0.5rem 2rem;
  z-index: 100;
}

.registerBtnMobile {
  display: none;
}

.registerBtn p,
.registerBtnMobile p {
  color: #fff;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 401;
  line-height: normal;
  letter-spacing: 2px;
}

.registerBtn:hover {
  background-color: #fff;
  transition: 0.3s;
}

.registerBtn:hover p {
  color: #111;
  transition: 0.3s;
}

.hamburger {
  padding: 5px;
  width: 2.5rem;
  height: 100%;
  overflow: visible;
}

.hamburger img {
  transform: scale(0.8);
  transition: all 0.2s ease-in-out;
  overflow: visible;
}

/* .hamburger:hover img {
  filter:contrast(0.5);
} */

.hamIcon {
  height: 4.75rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0;
  position: relative;
  z-index: 100000;
}

.hamIcon1 {
  height: 3.5px;
  width: 50%;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  transform-origin: bottom;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamIcon2 {
  height: 3.5px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  transform-origin: top;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamIcon3 {
  height: 3.5px;
  width: 75%;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  transform-origin: center left;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transform-origin: bottom;
}


@media (max-width: 1380px) {
  .navLogo img {
    transform: scale(0.9);
  }

  .navLinks {
    padding-right: 2.5rem;
    font-size: 1.5rem;
  }

  /* .registerBtn {
    top: 27.5%;
    padding: 0.75rem 2rem;
  } */
}

@media (max-width: 1200px) {
  .navLogo img {
    transform: scale(0.7);
  }

  .navLinks {
    padding-right: 2.25rem;
    font-size: 1.4rem;
  }

  /* .registerBtn {
    top: 31.5%;
    padding: 0.5rem 1.75rem;
  } */
  .registerBtn p {
    font-size: 1rem;
  }
}

@media (max-width: 1080px) {
  .navLinks {
    padding-right: 2rem;
    font-size: 1.15rem;
  }

  /* .registerBtn {
    padding: 0.5rem 1.25rem;
  } */
  .registerBtn p {
    font-size: 0.95rem;
  }
}

@media (max-width: 920px) {
  .navLinks {
    display: none;
  }

  .navLogo img {
    transform: scale(0.6);
  }

  .navbarContainer {
    height: 100px;
  }

  .registerBtn p {
    font-size: 0.95rem;
  }

  .navLogo img {
    pointer-events: none;
  }
}

@media (max-width: 711px) {

  .navbarRightCorner {
    right: 6%;
  }

  .registerBtn {
    display: none;
  }

  .registerBtnMobile {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 85vh;
    background-color: #fff;
    opacity: 0.7 !important;
    z-index: 990;
  }

  .registerBtnMobile p {
    color: black;

  }

  .hamburger {
    width: 50px;
  }
}

/* .registerBtnMobile{
  opacity: 0.5 !important;
} */