body {
  height: fit-content;
  overflow-y: hidden;
}

.pageContainer {
  height: 100vh;
  width: 100vw;
  background: url("../images/about-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
}

.header {
  height: 15%;
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;

  padding-block: 1rem;

  flex: 0 1 auto;

  position: relative;
}

.logoDiv {
  height: 100%;
  width: fit-content;
  transition: scale 0.2s ease-in-out;

  position: absolute;

  display: flex;

  /* margin-left: 2rem; */
}

.logoDiv:hover {
  scale: 1.1;
  cursor: pointer;
}

.logoDiv img {
  height: 75%;
  width: auto;
  object-fit: contain;

  align-self: center;
}

.header h1 {
  color: #f0f0f0;
  font-family: Druk Wide Bold;
  font-size: 6vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.95px;
  text-align: center;

  width: 100%;
}

.scoreboardGrid {
  /* flex: 1 1 auto; */
  height: 80%;
  width: 90%;

  /* display: grid;
  grid-template-columns: repeat(3, minmax(315px, 1fr)); */

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  align-content: flex-start;

  gap: 3rem;

  overflow-y: scroll;
  overflow-x: hidden;

  padding-right: 2rem;
  padding-top: 1rem;

  scrollbar-color: #f0f0f0 rgba(150, 150, 150, 0.7);
  scrollbar-width: thin;
}

.loaderGrid {
  height: 80%;
  width: 85%;

  display: grid;
  grid-template-columns: 1fr;
  place-content: center;

  color: #f0f0f0;
}

.scoreCard {
  height: auto;
  /* height: 300px; */
  /* width: clamp(300px, 30%, 400px); */
  flex: 1 1 33%;
  /* flex-basis: calc(33.33% - 20px); */

  min-width: 270px;
  max-width: 360px;

  padding: 0;
  padding-block: 1rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 16px;
  background: #802e31;
}

/* .score{
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 1fr 7fr;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;

  font-family: Bebas Neue;
} */

.teamNames,
.score {
  /* margin-top: 2rem; */
  position: relative;
  height: fit-content;

  /* display: grid; */
  /* grid-template-columns: 40% 1fr 40%; */
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  font-family: Bebas Neue;
  width: fit-content;
}

.score {
  width: 50%;
}

.teamNames::before {
  content: "";
  position: absolute;
  /* top: 0; */

  left: -12%;
  /* background-image: url("../images/medal.svg"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  height: 30px;
  aspect-ratio: 1/1;

  align-self: center;
}

.teamName {
  text-align: center;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1rem;
  color: #f0f0f0;
  overflow-x: visible;

  align-self: center;

  flex-grow: 1;

  width: 40%;
}

.winningTeam {
  color: rgba(150, 150, 150, 0.7);
}

.vsText {
  color: white;
  font-size: 1.8rem;
  align-self: center;
  justify-self: center;
}

.score {
  color: #fff;
  text-align: center;
  font-family: Digital;
}

.score span {
  font-size: 2.7rem;
}

.event {
  text-align: center;
}

.eventName {
  color: #f0f0f0;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.6px;

  text-align: center;
}

.venueName {
  color: #f0f0f0;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.4px;
}

.venue {
  /* margin-bottom: 1rem; */
  display: grid;
  place-items: center;
}

.scoreboardGrid::-webkit-scrollbar {
  width: 0.3rem;
  display: block;
}

.scoreboardGrid::-webkit-scrollbar-track {
  background: rgba(150, 150, 150, 0.7);
  /* width: 5px; */
  margin-bottom: 3rem;
}

.scoreboardGrid::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  width: 0.4rem;
}

@media screen and (max-width: 1100px) {
  /* .header {
    justify-content: space-around;
    gap: 1rem;
  } */

  .header h1 {
    font-size: 6vw;
  }
  .header img {
    height: 60%;
    width: 100%;
    aspect-ratio: 1/1;
    /* align-self: center; */
  }
  .logoDiv {
    display: flex;
  }
}

@media screen and (max-width:800px) {
  .header h1{
    text-align: right;
    margin-right: 1rem;
  }
  .logoDiv{
    width: 15%;
  }
  .header{
    height: 10%;
  }
  .scoreboardGrid{
    height: 90%;
    width: 96%;
    padding-left: 1rem;
  }
}

@media screen and (max-width:435px){
  .scoreboardGrid{
    gap: 1rem;
  }
  .eventName{
    font-size: 1.3rem;
  }
  .teamName{
    font-size: 2.2rem;
  }
  .score span{
    font-size: 2.3rem;
  }
  .venue{
    margin: 0;
  }
  .teamNames{
    gap: 1rem;
  }
}

@media screen and (max-width:350px) {

  .scoreCard{
    min-width: 110%;
  }
  .eventName{
    font-size: 1.2rem;
  }
  .teamName{
    font-size: 1.9rem;
  }
  .score span{
    font-size: 1.8rem;
  }
  .venue{
    font-size: 1rem;
  }
}
